
// source
$mainSource: 'Krub', sans-serif;
$secondarySource: 'Caveat', cursive;

// wide font

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

// Tamaño media queries

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// colores
$blue: #4666FF;
$white: #ffffff;
$negro: #000000;
$gris : rgb(104, 93, 93);
$cyan : #20daca;

$separacion: 5rem;

$auto: auto;